# Python
__pycache__/
*.pyc

# Node
node_modules/

# Env
.env
.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
